body
{
    background-color: rgb(156, 238, 89);
    color: black;
}

a
{
    color: rgb(153, 153, 153);
    vertical-align: middle;
    text-align: center;
}

table
{
    width: 980px;
    margin: auto;
    border-spacing: 0px;
    background-color: rgb(80, 144, 80);
}

table tr td table
{
    width: 940;
    margin: auto;
    border: none;
    background-color: white;
    border-spacing: 1px;
}

table tr :nth-child(2) td
{
    height: 40px;
    background-color: black;
    color: white;
}